label::before {
  content: "\A";
  white-space: pre;
}

label {
  display: inline-block;
  width: 10em;
}

input {
  width: 10em;
}

.formContact {
  width: 30%;
  height: 90%;
  padding: 28px;
  border-radius: 12px;
  background: #fde4e4;
  position: absolute;
  top: 105%;
  transform: translateY(-50%) scale(0.8);
  opacity: 0;
  z-index: 100;
  transition: all 0.3s ease;
  transition-delay: 0s;
}

.containerlogin {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dinbodyLogin {
  background: #34495e;
}
.LoginErrors {
  color: red;
  margin-top: 5px;
  font-size: 15px;
}
.message-box {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
.message-box i {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #bbb;
}
.message-box textarea {
  width: 100%;
  padding: 20px 60px;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #eee;
  border-radius: 40px;
  height: 150px;
}
.message-box textarea::placeholder {
  color: #bbb;
  font-weight: 500;
}
.btn-submit-contact {
  padding: 12px 0;
  display: block;
  width: 100%;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  font-weight: 500;
  background: var(--blue);
  margin-bottom: 20px;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  background: #e74c3c;
}
.btn-submit-contact:hover {
  background: #e74c3c;
}
